
<div class="row">
  <div class="col">
  </div>
  <div class="col-6">
    <div class="d-flex text-right justify-content-center title">
      <span><a href="">yaren</a> </span>
    </div>
    <div class="d-flex text-right justify-content-center subtitle">
      <span class="m-2"><a href="./blog/">blog</a> </span> 
      <span class="m-2"><a href="">hakkımda</a> </span>
    </div>
    <router-outlet></router-outlet>
  </div>
  <div class="col">
  </div>
  
</div>

<button *ngIf="isShow" (click)="gotoTop()"><span class="material-icons">
  arrow_upward
  </span></button>