/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@500;800;900&family=Press+Start+2P&family=Quicksand:wght@500&display=swap');html, body {  background-color: #cc17cc18;}
body { margin: 0;}
.title {
    font-size: 270%;
    font-family: 'Darker Grotesque', sans-serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Quicksand', sans-serif;
  }

.subtitle {
    font-size: 150%;
    font-family: 'Darker Grotesque', sans-serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Quicksand', sans-serif;
}
span{
    text-decoration: none;
}